<div class="navbar">
    <a class="nav-item" href="/">Home</a>

    <a class="nav-item" href="/model1">
        Use Case Points Estimation
    </a>

    <a class="nav-item" href="/model2">
        Expert Judgement
    </a>

    <a class="nav-item"  href="/details">
        Project Details
    </a>

    <a class="nav-item">Contact Us</a>

    <a class="nav-item">About Us</a>
</div>