<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <title>Welcome</title>
</head>

<body>

    <div class="container fluid">
        <h1 class="display-1">Automated Software Effort Estimation</h1>

        <hr>

        <div class="dispaly-4">
            This web application is used to accuratley 
            estimate the effort of your software project
        </div>

        <button class="btn btn-primary btn-lg my-5">
            <a href="/model1">
                Proceed
            </a>
        </button>
    </div>

    


</body>

</html>